{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}

<div id="map" {{attributes.addClass(classes)}} style="height:{{content.height}};width:{{content.width}}"></div>

<script>
	var map;
var locArr = '{{ content.locations.value }}';
// replace html code injected by drupal
var locFormat = locArr.replace(/&quot;/g, '"');
// convert string to an array format
var locParse = JSON.parse(locFormat);
// assign parsed response to the locations variable to be assigned to the map
// may need to add a few more layers of handling as JSON is sensative and would be easy for mistake to be made & break app
var locations = locParse;

function initMap() {
map = new google.maps.Map(document.getElementById('map'), {
center: {
lat: {{ content.lat }},
lng: {{ content.long }}
},
zoom: {{ content.map_zoom }},
disableDefaultUI: {{ content.ui }}
});

var infowindow = new google.maps.InfoWindow();

var marker,
i;

for (i = 0; i < locations.length; i = i + 1) {
marker = new google.maps.Marker({
position: new google.maps.LatLng(locations[i][1], locations[i][2]),
map: map
});

google.maps.event.addListener(marker, 'click', (function (marker, i) {
return function () {
infowindow.setContent(locations[i][0]);
infowindow.open(map, marker);
};
})(marker, i));
}
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{content.api_key}}&callback=initMap" async defer></script>
